<div class="popup-container">
  <div class="popup">
    <form>
      <div>
        <div class="reactions-container">
          <label>
            <span class="visuallyhidden">Not at all</span>
            <input class="visuallyhidden" type="radio" name="rating" value="1">
            <span class="emoji">☹️</span>
          </label>
          <label>
            <span class="visuallyhidden">Meh</span>
            <input class="visuallyhidden" type="radio" name="rating" value="2">
            <span class="emoji">😕</span>
          </label>
          <label>
            <span class="visuallyhidden">What to say?</span>
            <input class="visuallyhidden" type="radio" name="rating" value="3">
            <span class="emoji">😐</span>
          </label>
          <label>
            <span class="visuallyhidden">I like it</span>
            <input class="visuallyhidden" type="radio" name="rating" value="4">
            <span class="emoji">🙂</span>
          </label>
          <label>
            <span class="visuallyhidden">I like it a lot</span>
            <input class="visuallyhidden" type="radio" name="rating" value="5">
            <span class="emoji">😁</span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>