<mat-vertical-stepper #stepper="matVerticalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Please score our food</ng-template>
      <app-star></app-star>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Please score our service</ng-template>
      <app-star></app-star>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>(Optional)Do you have any comment or suggestion?</ng-template>
    <div>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="newComment.customer_name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Tel" [(ngModel)]="newComment.customer_tel" >
        </mat-form-field>
    </div>  
    <div>
        <mat-form-field>
            <textarea matInput placeholder="Comment or Suggestion" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5" [(ngModel)]="newComment.comment_added"></textarea>
        </mat-form-field>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="addComment()">Send</button>
    </div>
  </mat-step>
  </mat-vertical-stepper>